<a href="https://colab.research.google.com/github/Data1277712/Coursera_sampath/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# **Data Science Tools and Ecosystem**

This notebook is a demonstration of **data science** skills using Jupyterlite Notebook. I will use various languages, libraries, and tools to perform some basic tasks and calculations

**Some of the popular languages that Data Scientists use are:**

Python

R

Java

Julia

Matlab

**Some of the commonly used libraries used by Data Scientists include:**

Pandas

numpy

matplotlib

seaborn

scikit-learn

Tensorflow

pytorch

opencv

|    Data Science Tools                     |    
|-------------------------------------------|
| Jupyter Notebooks                         |
|RStudio                                    |
|Google Colab                               |

# Below are a few examples of evaluating arithmetic expressions in Python:

Arithmetic expressions are combinations of numbers and operators that can be evaluated to a single value. They can be used in code cells to perform calculations and assign values to variables.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
result=(3 * 4) + 5
result

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
hours

3.3333333333333335

**Objectives:**


- Explore popular languages for Data Science
- Understand basic arithmetic operations in Python
- Learn to convert units using Python expressions
- Create a table in markdown to display information
- Familiarize with key concepts covered in the course

##Author

Suthari Sampath